body {
    background-color: #ffeaa7;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 130%;
  }
  
  .container {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
  }
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-size: 1.5rem;
  }
  
  .form input {
    box-sizing: border-box;
    background-color: #ffeaa7;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
    margin-left: 5px;
  }
  button span {
    padding: 5px;
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
  }
  ul {
    margin: 0;
    padding: 0 5px;
    list-style: none;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #ffeaa7;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .task-text {
    position: relative;
  }
  .icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .icon {
    color: hsl(198, 1%, 29%);
    cursor: pointer;
  }
  